:root.skylight {
  /* Colores de texto */
  --text: #0a0a0a;
  --text-h: #37474F;
  --textNavabar: #FFFFFF;
  --textFooter: #FFFFFF;
  --text-btn: #FFFFFF;
  --placeholder: #9ca3af;


  --filterContract: #1d4ed8;
  --filterContractOpacity: #0034c2;
  --NBtext: #000000;
  --adminP : #070707;
  --error: #D12400;

  /* Fondos */
  --bg: #F5F7FA;
  --card-bg: #FFFFFF;
  --navbar: #1d4ed8;
  --primary: #2D7FF9;
  --primary-dark: #3F8CFF;
  --success: #00C853;
  --filter: #ffffff;
  --border-filter: #cfd8dc;

  /* Iconos */
  --icon: #37474F;
 /* modal themes */
  --card: white;
  --border-Card: rgba(84, 84, 84, 0.732);

  /* Botones */
  --buttonLoading: #A5D6A7;
  --button:#00C853;
  --button-success: #00C853;

  /* Bordes y detalles */
  --border: rgba(55, 71, 79, 0.12);

  /* Accentos */
  --accent:  #00C853;
  --accent-bg: rgba(30, 136, 229, 0.10);
  --accent-border: rgba(30, 136, 229, 0.35);
  --accent-hover: rgba(70, 229, 30, 0.25);

  /* Extras */
  --code-bg: #F5F7FA;
  --social-bg: rgba(245, 247, FA, 0.6);
  --input:  #f4f4f4;
  --modal-text: #040404;
  --modal-title:  #1d4ed8;
  --modal-subtext: #242527;
  --modal-card-bg: #ffffff;
  --modal-card-text: #111827;
  --modal-card-border: #929395;
  --modal-button:  #1d4ed8;
  --modal-button-text: #ffffff;
  --modal-hover: #3262e5bf;
  --modal-bg:white;
  --notification: #c4cdcd;
  --background: #4b9835;
  --hover:  #d8dbe3 ;
  --iconEmail: #ffffff;

  --shadow:
    rgba(0, 0, 0, 0.10) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.light {
  /* Colores de texto */
  --text: #0a0a0a;
  --text-h: #37474F;
  --textNavabar: #FFFFFF;
  --textFooter: #FFFFFF;
  --text-btn: #FFFFFF;
  --placeholder: #9ca3af;
  --error: #D12400;


  /* Fondos */
  --bg: #F5F7FA;
  --card-bg: #FFFFFF;
  --navbar:  #217d47;
  --primary:  #217d47;
  --primary-dark:  #217d47;
  --success: #00C853;
  --filter: #ffffff;
  --border-filter: #cfd8dc;


  /* Botones */
  --buttonLoading: #A5D6A7;
  --button: #217d47;
  --button-success: #00C853;

  /* Bordes y detalles */
  --border: rgba(55, 71, 79, 0.12);

  /* Accentos */
  --accent:  #e7d351;
  --accent-bg: rgba(30, 136, 229, 0.10);
  --accent-border: rgba(30, 136, 229, 0.35);
  --accent-hover: rgba(70, 229, 30, 0.25);

  /* Extras */
  --code-bg: #F5F7FA;
  --social-bg: rgba(245, 247, FA, 0.6);
  --input:  #f5f7fa;
    --card: white;
  --border-Card: rgba(84, 84, 84, 0.732);
    --modal-text: #040404;
  --modal-title: #218b4d;
  --modal-subtext: #242527;
  --modal-card-bg: #ffffff;
  --modal-card-text: #111827;
  --modal-card-border: #929395;
  --modal-button: #217d47;
  --modal-button-text: #ffffff;
  --modal-hover: #2f8352e0;
  --modal-bg:white;
  --notification: #d3d4e0;
  --background: #4b9835;
  --hover:  #ede29b ;
  --iconEmail: #ffffff;

  --shadow:
    rgba(0, 0, 0, 0.10) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

:root.dark {
 /* Colores de texto */
 
  --text: #ffffff;
  --text-h: #aeb1b3;
  --textNavabar: #FFFFFF;
  --textFooter: #FFFFFF;
  --text-btn: #FFFFFF;
  --placeholder: #9ca3af;
  --filterContract: rgb(156, 57, 255);
  --filterContractOpacity: rgb(134, 21, 247);
  --NBtext: #ffffff;
  --adminP : #464646;
  --error: #D12400;

  /* Fondos */
  --bg:  #020617;
  --card-bg: #0f172a;
  --navbar:#0f172a;
  --primary: #2D7FF9;
  --primary-dark: #3F8CFF;
  --success: #00C853;
  --filter: #ffffff;
  --border-filter: #cfd8dc;

  /* Iconos */
  --icon: #37474F;


  /* Botones */
  --buttonLoading: #A5D6A7;
  --button:#00C853;
  --button-success: #00C853;

  /* Bordes y detalles */
  --border: rgba(246, 248, 253, 0.223);

  /* Accentos */
  --accent:  #00C853;
  --accent-bg: rgba(30, 136, 229, 0.10);
  --accent-border: rgba(30, 136, 229, 0.35);
  --accent-hover: rgba(70, 229, 30, 0.25);

  /* Extras */
  --code-bg: #F5F7FA;
  --social-bg: rgba(245, 247, FA, 0.6);
  --input:  #0f172a;
    --card: white;
  --border-Card: rgba(84, 84, 84, 0.732);
  --text-card: #0000;
  --modal-text: #fff7f7;
  --modal-title:  #6dea4a;
  --modal-subtext: #ffffff;
  --modal-card-bg:  #0f172a;
  --modal-card-text: #f6f7fa;
  --modal-card-border: #929395;
  --modal-button:  #4b9835;
  --modal-button-text: #ffffff;
  --modal-hover: #6dea4a70;
  --modal-bg: #0f172a;
  --notification: #343a68;
  --background: #4b9835;
  --hover:  #2d2e33 ;
  --iconEmail: #ffffff;

  --shadow:
    rgba(0, 0, 0, 0.10) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.darkPurple {
 /* Colores de texto */
  --text: #ffffff;
  --text-h: #aeb1b3;
  --textNavabar: #FFFFFF;
  --textFooter: #FFFFFF;
  --text-btn: #FFFFFF;
  --placeholder: #9ca3af;
  --error: #D12400;


  /* Fondos */
  --bg:  #212225;
  --card-bg: #2d2e33;
  --navbar:#217d47;
  --primary: #2D7FF9;
  --primary-dark: #3F8CFF;
  --success: #00C853;
  --filter: #ffffff;
  --border-filter: #cfd8dc;



  /* Botones */
  --buttonLoading: #A5D6A7;
  --button:#217d47;
  --button-success: #00C853;

  /* Bordes y detalles */
  --border: rgba(246, 248, 253, 0.223);

  /* Accentos */
  --accent:   #ffffff;
  --accent-bg: rgba(30, 136, 229, 0.10);
  --accent-border: rgba(30, 136, 229, 0.35);
  --accent-hover: rgba(70, 229, 30, 0.25);

  /* Extras */
  --code-bg: #F5F7FA;
  --social-bg: rgba(245, 247, FA, 0.6);
  --input:  #2d2e33;
    --modal-text: #eeecec;
  --modal-title:  #6dea4a;
  --modal-subtext: #fafafa;
  --modal-card-bg:  #2d2e33;
  --modal-card-text: #ffffff;
  --modal-card-border: #d1d5db;
  --modal-button:  #4b9835;
  --modal-button-text: #ffffff;
  --modal-hover:  #4b9835;
  --modal-bg: #2d2e33;
  --notification: #5f6067;
  --background: #4b9835;
  --hover:  #2d2e33 ;
  --iconEmail: #ffffff;

  --shadow:
    rgba(0, 0, 0, 0.10) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;


  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  color: var(--text);
  background: var(--bg);
  transition: background 0.3s ease, color 0.3s ease;
}


h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}

p {
  margin: 0;
}
code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}


.dark #social .button-icon {
  filter: invert(1) brightness(2);
}