.register-form {
    width: min(95vw, 900px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    background: var(--card-bg);
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.register-form label {
  font-size: 12px;
  font-weight: 600;
  color: var(--text);
}

.register-form input {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--border);

  background: var(--card-bg);
  color: var(--text);
}

.register-form input::placeholder {
  color: var(--placeholder);
}


.register-form input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 3px var(--accent-bg);
}

.form-group.full {
  grid-column: span 2;
}


.register-btn {
    grid-column: 1 / -1;

    width: 100%;
    justify-self: center;

    padding: 14px;
    border-radius: 12px;
    border: none;

    background: var(--button);
    color: var(--text-btn);

    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
  background: var(--primary);
}

/* ERROR */
.register-error {
  grid-column: span 2;

  background: rgba(220, 38, 38, 0.1);
  border-left: 4px solid red;
  color: red;

  padding: 10px;
  border-radius: 8px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 10000px var(--card-bg) inset !important;
    -webkit-text-fill-color: var(--text) !important;
}

.register-link{
  grid-column: 1 /- 1;
  grid-column: span 2;
  width: 220px;


}
@media (max-width: 1024px) {
  .register-form {
    max-width: 600px;
    gap: 15px;
    padding: 25px;
  }

  .register-form input {
    font-size: 14px;
    padding: 11px;
  }
}

@media (max-width: 768px) {
  .register-form {
    grid-template-columns: 1fr;
  }

  .register-form > * {
    grid-column: span 1 !important;
  }

  .form-group {
    width: 100%;
    min-width: 0;
  }
}
