/* CONTENEDOR */
.container-banner {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 300%;
  height: 100%;
  animation: slide 15s ease-in-out infinite;
}

.slide {
  flex: 0 0 33.333333%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@keyframes slide {
  0%   { transform: translateX(0); }
  30%  { transform: translateX(0); }

  33%  { transform: translateX(-33.333333%); }
  63%  { transform: translateX(-33.333333%); }

  66%  { transform: translateX(-66.666666%); }
  100% { transform: translateX(-66.666666%); }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .container-banner {
    height: 300px;
  }
}