.nav-navbarCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--navbar);
  color: var(--icon);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  padding: 15px 30px;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.logo{
    color:var( --textNavabar);
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.8rem;
  color:  var( --textNavabar);
}

.Title-hover{
  color: var(--accent);
}


.navbar a{
  text-decoration: none;
  color: var( --textNavabar);
}

.navbar a:hover{
  color: var(--accent);
}


.icon{
  color: var( --button);
  width: 30px;
  height: 30px;
}

.icon:hover{
  color: rgb(135, 216, 145);
}