.chip {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #001e46;
    background-color: aliceblue;
    cursor: pointer;
    font-size: 10px;
    margin: 0 0 0 0;
    color: #1f2937;
    font-family: 'poppins', sans-serif;
    height: 37px;
    width: auto;
}

.chip-active {
    padding: 6px ;
    border-radius: 6px;
    border: 1px solid #001e46;
    background: #001e46;
    color: white;
    cursor: pointer;
    font-size: 10px;
    margin: 0 0 0 0;
    height: 37px;
    width: auto;

}
.container-filter {
    display: flex;
    gap: 10px;
    padding: 16px 14px;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.container-chips {
    display: flex;
    gap: 8px ;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px ;
    padding-left: 14px;
    padding: 12px;
}
.container-filter input {
    padding: 8px 42px 8px 16px;
    border-radius: 6px;
    border: 1px solid rgba(28, 77, 68, 0.15);
    width: 100%;
    max-width: 900px;
    height: 30px;
    background-color: aliceblue;
    color: #1f2937;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
}

.icon-search {
    position: absolute;
    right: 89px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #1f2937;
    pointer-events: none;
}

@media (max-width: 768px) {
    .container-filter {
        flex-direction: column;
        align-items: stretch;
        padding: 10px 14px;
    }

    .container-chips {
        padding-left: 7px;
        margin-top: auto;
    }

    .container-filter input {
        max-width: 80%;
        margin: 0 26px auto;
        width: 100%;
    }
}
