.buttonBack {
  background-color: #2c3e5000;
  color: var(--button);
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  display: inline-flex;
  gap: 6px;
  transform: translate(-820px, 10px);
  margin-top: -40px;
}
