.home-container{
    display: grid;
    grid-template-columns: 1fr 450px; /* izquierda contenido, derecha filtro */
    gap: 20px;
    padding: 20px;
    align-items: start;
    max-width: 100px;
    box-sizing: border-box;

}


.card-vehicule-container {
  display: grid;
grid-template-columns: repeat(2, 464px);
  gap: 40px;
  padding: 19px 25px;
}

.sildebar-containner {
display: flex;
  flex-direction: column;
  gap: 13px;
  right: 67px;
  position: sticky;
  top: 40px;
}

.banner-container img {
  width: 450%;
}

 @media (max-width: 900px) {
  .home-container {
    grid-template-columns: 1fr;
  }
  .sidebar-container {
    position: static;
  }
  .card-vehicule-container {
    grid-template-columns: 1fr;
  }
}