.animation-container{

}
.animation-cc{
    display: flex;
    position: relative;
    height: 40px;
    padding:auto;
    align-items: center;
}
.animation-car{
    position: absolute;
    left: 0;
    width: 60px;
    color: #055c0f;
    height: 20px;   
    margin-bottom: 15px; 
}
.animation-line{
    height: 4px;
    width: 540px;
    background: #00ff1e;
}