.navbar {
  margin: 10px auto;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  border-radius: 10px;
  padding: 15px 40px;

  background: var(--navbar);
  color: var(--icon);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}
.Title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.8rem;
  color:  var( --textNavabar);
}

.Title-hover{
  color: var(--accent);
}


.navbar a{
  text-decoration: none;
  color: var( --textNavabar);
}

.navbar a:hover{
  color: var(--accent);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-links-container{
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

nav svg {
  cursor: pointer;
}


.icon{
  color: var( --button);
  width: 30px;
  height: 30px;
}

.icon:hover{
  color: rgb(135, 216, 145);
}