.register-form {
  width: 100%;
  max-width: 500px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;

  background: var(--card-bg);
  padding: 30px;
  border-radius: 20px;

  box-shadow: var(--shadow);
  overflow: hidden;
}

/* LABELS */
.register-form label {
  font-size: 12px;
  font-weight: 600;
  color: var(--text);
}

/* INPUTS */
.register-form input {
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--border);

  background: var(--card-bg);
  color: var(--text);
}

.register-form input::placeholder {
  color: var(--placeholder);
}

/* FOCUS */
.register-form input:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 3px var(--accent-bg);
}

/* FULL WIDTH */
.form-group.full {
  grid-column: span 2;
}

/* BOTÓN */
.register-btn {
  grid-column: span 2;
  width: 100%;

  padding: 14px;
  border-radius: 12px;
  border: none;

  background: var(--button);
  color: var(--text-btn);

  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background: var(--primary);
}

/* ERROR */
.register-error {
  grid-column: span 2;

  background: rgba(220, 38, 38, 0.1);
  border-left: 4px solid red;
  color: red;

  padding: 10px;
  border-radius: 8px;
}

/*TABLET */
@media (max-width: 1024px) {
  .register-form {
    max-width: 600px;
    gap: 15px;
    padding: 25px;
  }

  .register-form input {
    font-size: 14px;
    padding: 11px;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .register-form {
    grid-template-columns: 1fr;
  }

  .register-form > * {
    grid-column: span 1 !important;
  }

  .form-group {
    width: 100%;
    min-width: 0;
  }
}
